@import url('https://fonts.googleapis.com/css?family=Tauri');
* {
    font-family: 'Tauri', sans-serif;
}

body {
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: 1500px 610px;

}

#info {
    color: black;
    position: absolute;
    left: 1050px;
    right: 50px;
    font-size: 14px;
    top: 5px;
    border: 2px solid black;
    padding: 5px 5px 5px 20px;
    background-color: #9e9e9e;
}

#name {
    color: black;
    position: absolute;
    bottom: 0px;
    top: 220px;
    left: 530px;
    right: 400px;
    font-size: 45px;
}

h2 {
    color: #565656;
    position: absolute;
    top: 275px;
    left: 542px;
    font-size: 33px;
}

#ProfPhoto {
    position: absolute;
    top: 390px;
    left: 495px;
    height: 414px;
    width: 414px;
}

#about {
    color: black;
    position: absolute;
    top: 780px;
    left: 50px;
    font-size: 30px;

}

#Social {
    position: absolute;
    top: 735px;
    left: 895px;
}

#about-text {
    color: brown;
    position: absolute;
    top: 835px;
    left: 85px;
    font-size: 20px;
    right: 85px;
}


#skills {
    color: black;
    position: absolute;
    top: 1090px;
    left: 50px;
    font-size: 30px;
}

#jvs {
    color: black;
    position: absolute;
    top: 1150px;
    left: 150px;
    font-size: 20px;
    border: 0px solid black;
    padding: 50px 50px 50px 50px;
    background-color: #c4c4c4;

}

#pascal {
    color: black;
    position: absolute;
    top: 1150px;
    left: 540px;
    font-size: 20px;
    border: 0px solid black;
    padding: 50px 40px 50px 40px;
    background-color: #ffd8d8;
}

#ms {
    color: black;
    position: absolute;
    top: 1150px;
    left: 945px;
    font-size: 20px;
    border: 0px solid black;
    padding: 50px 50px 50px 50px;
    background-color: #c4c4c4;
}

#ukr {
    color: black;
    position: absolute;
    top: 1300px;
    left: 150px;
    font-size: 20px;
    border: 0px solid black;
    padding: 50px 50px 50px 50px;
    background-color: #ffd8d8;
}

#rus {
    color: black;
    position: absolute;
    top: 1300px;
    left: 540px;
    font-size: 20px;
    border: 0px solid black;
    padding: 50px 70px 50px 70px;
    background-color: #c4c4c4;

}

#eng {
    color: black;
    position: absolute;
    top: 1300px;
    left: 945px;
    font-size: 20px;
    border: 0px solid black;
    padding: 50px 50px 50px 50px;
    background-color: #ffd8d8;
}

#findme {
    color: black;
    position: absolute;
    top: 1470px;
    left: 150px;
    font-size: 25px;
}

footer {
    color: black;
    position: absolute;
    top: 1550px;
    left: 150px;
    font-size: 16px;
    border: 0px solid black;
    padding: 10px 120px 10px 80px;
    background-color: #c4c4c4;
}

footer2 {
    color: grey;
    position: absolute;
    top: 1550px;
    left: 700px;
    font-size: 16px;
    border: 0px solid black;
    padding: 35px 35px 55px 35px;
    background-color: #ffd8d8;
}

#contact {
    color: black;
    position: absolute;
    top: 1470px;
    left: 695px;
    font-size: 25px;

}
